<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Star Wars Discussion Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <!-- Navabar -->
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo">Star Wars Discussion</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                
                {% if current_user.is_authenticated %}
                    <li><a class="nav-links" href="{{ url_for('index') }}">Home</a></li>
                    <li><a class="nav-links" href="{{ url_for('new_post') }}">Create Post</a></li>
                    <li><a class="nav-links" href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="nav-links" href="{{ url_for('index') }}">Home</a></li>
                    <li><a class="nav-links" href="{{ url_for('login') }}">Login</a></li>
                    <li><a class="nav-links" href="{{ url_for('register') }}">Register</a></li>  
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Sidenav -->
    <ul class="sidenav" id="mobile-demo">
        {% if current_user.is_authenticated %}
            <li><a class="nav-links" href="{{ url_for('index') }}">Home</a></li>
            <li><a class="nav-links" href="{{ url_for('new_post') }}">Create Post</a></li>
            <li><a class="nav-links" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
            <li><a class="nav-links" href="{{ url_for('index') }}">Home</a></li>
            <li><a class="nav-links" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="nav-links" href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}

        {% endblock %}
    </div>
    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>