{% extends "base.html" %}
{% block content %}
    <h2 class="create-post-header">Create Post</h2>
    <form method="POST" action="{{ url_for('new_post') }}">
        <div class="input-field">
            <input type="text" id="title" name="title" required>
            <label for="title">Title</label>
        </div>
        <div class="input-field">
            <textarea class="materialize-textarea" id="body" name="body" required></textarea>
            <label for="body">Post Text</body> 
        </div>

        <!-- Optional fields -->
        <div class="input-field">
            <input type="text" id="film-name" name="film-name" minlength="5" maxlength="100" type="text">
            <label for="film-name">Film Name (Optional)</label>
        </div>
        <div class="input-field">
            <input type="text" id="film-num" name="film-num" minlength="1" maxlength="10" type="text">
            <label for="film-num">Film Number (Optional)</label>
        </div>
        <div class="input-field">
            <input type="text" class="datepicker" id="year-of-release" name="year-of-release" minlength="4" maxlength="50" type="text">
            <label for="year-of-release">Year of Release (Optional)</label>
        </div>
        <div class="input-field">
            <input type="text" id="favourite-character" name="favourite-character"minlength="2" maxlength="100" type="text">
            <label for="favourite-character">Favourite Character (Optional)</label>
        </div>

        <button type="submit" class="btn post-submit">Submit Post</button>

    </form>
{% endblock %}