{% extends "base.html" %}
{% block content %}
    <h2 class="create-post-header">Create Post</h2>
    <form method="POST" action="{{ url_for('new_post') }}">
        <div class="input-field">
            <input type="text" id="title" name="title" required>
            <label for="title">Title</label>
        </div>
        <div class="input-field">
            <textarea class="materialize-textarea" id="body" name="body" required></textarea>
            <label for="body">Post Text</body> 
        </div>

        <!-- Optional fields -->
        <div class="input-field">
            <input type="text" id="film_name" name="film_name" minlength="5" maxlength="100" type="text">
            <label for="film_name">Film Name (Optional)</label>
        </div>
        <div class="input-field">
            <input type="number" id="film_num" name="film_num">
            <label for="film_num">Film Number (Optional)</label>
        </div>
        <div class="input-field">
            <input type="number" id="year_of_release" name="year_of_release">
            <label for="year_of_release">Year of Release</label>
        </div>
        <div class="input-field">
            <input type="text" id="favourite_character" name="favourite_character"minlength="2" maxlength="100" type="text">
            <label for="favourite_character">Favourite Character (Optional)</label>
        </div>

        <button type="submit" class="btn post-submit">Submit Post</button>

    </form>
{% endblock %}