{% extends "base.html" %}
{% block content %}
    <h2 class="post-heading">{{ post.title }}</h2>
    <p class="main-post">{{ post.body }}</p>

    {% if post.film_name %}
        <p class="optional-field"><strong>Film Name:</strong> {{ post.film_name }}</p>
    {% endif %}
    {% if post.film_num %}
        <p class="optional-field"><strong>Film Number:</strong> {{ post.film_num }}</p>
    {% endif %}
    {% if post.year_of_release %}
        <p class="optional-field"><strong>Year of Release:</strong> {{ post.year_of_release }}</p>
    {% endif %}
    {% if post.favourite_character %}
        <p class="optional-field"><strong>Favourite Character:</strong> {{ post.favourite_character }}</p>
    {% endif %}
    <p>Posted by <strong class="poster">{{ post.user.username }}</strong> on {{ post.timestamp.strftime("%d-%m-%Y %H:%M") }}</p>

    {% if current_user.is_authenticated and current_user.id == post.user.id %}
        <!-- Edit post button -->
        <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn edit-post-btn">Edit Post</a>
        <!-- Delete post button -->
        <button class="btn red post-del-btn" data-target="deletePostModal{{ post.id }}" onclick="openModal('deletePostModal{{ post.id }}')">Delete Post</button>

        <!-- Delete post modal -->
        <div id="deletePostModal{{ post.id }}" class="modal">
            <div class="modal-content">
                <h4>Delete Post</h4>
                <p>Are you sure you want to delete this post?</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
                    <button type="submit" class="btn red modal-del-btn">Delete</button>
                    <button type="button" class="modal-close btn">Cancel</button>
                </form>
            </div>
        </div>
    {% endif %}

    <hr>

    <h4 class="comment-heading">Comments</h4>
    {% for comment in comments %}
        <div class="card">
            <div class="card-content">
                <p class="comment-body">{{ comment.body }}</p>
                <p class="comment-details">Commented by {{ comment.user.username }} on {{ comment.timestamp.strftime("%d-%m-%Y %H:%M") }}</p>

                {% if current_user.id == comment.user_id %}
                    <!-- Delete Comment Button -->
                    <button class="btn red comment-del-btn" data-target="deleteCommentModal{{ comment.id }}" onclick="openModal('deleteCommentModal{{ comment.id }}')">Delete Comment</button>

                    <!-- Delete comment modal -->
                    <div id="deleteCommentModal{{ comment.id }}" class="modal">
                        <div class="modal-content">
                            <h4>Delete Comment</h4>
                            <p>Are you sure you want to delete this comment?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="POST" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                                <button type="submit" class="btn red modal-del-btn">Delete</button>
                                <button type="button" class="modal-close btn">Cancel</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('post', post_id=post.id) }}">
            <div class="input-field">
                <textarea class="materialize-textarea" id="body" name="body" required></textarea>
                <label for="body">Comment</label>
            </div>
            <button type="submit" class="btn submit-comment-btn">Submit</button>
        </form>
    {% else %}
        <p><a href="{{ url_for('login') }}">Sign in</a> to comment.</p>
    {% endif %}

    <br>

    <a href="{{ url_for('index') }}" class="btn BTD-btn">Back to Discussion</a>
    
{% endblock %}