{% extends "base.html" %}
{% block content %}
    <h2 class="post-heading">{{ post.title}}</h2>
    <p>{{ post.body }}</p>
    <p>Posted by {{ post.user,username }} on {{ post.timestamp.strftime("%d-%m-%Y %H:%M") }}</p>

    {% if current_user.is_authenticated and current_user,id == post.user.id %}
        <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btm edit-post-btn">Edit Post</a>
    {% endif %}

    <hr>

    <h4 class="comment-heading">Comments</h4>
    {% for comment in comments %}
        <div class="card">
            <div class="card-content">
                <p class="comment-body">{{ comment.body }}</p>
                <p class="comment-details">Commented by {{ comment.user.username }} on {{ comment.timestamp.strftime("%d-%m-%Y %H:%M") }}</p>
            </div>
        </div>
    {% endfor %}

    {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('post', post_id=post.id) }}">
            <div class="input-field">
                <textarea class="materialize-textarea" id="body" name="body" required></textarea>
                <label for="body">Comment</label>
            </div>
            <button type="submit" class="btn submit-comment-btn">Submit</button>
        </form>
    {% else %}
        <p><a href="{{ url_for('login') }}">Sign in</A> to comment.</p>
    {% endif %}

    <br>

    <a href="{{ url_for('index') }}" class="btn BTD-btn">Back to Discussion</a>
    
{% endblock %}